<html>
	<body>
		<div class="erros">
			<% if(validationErrors) { %>
				<ul>
					<% for(var i=0; i < validationErrors.length; i++) { %>
						<li><%= validationErrors[i].param %> - <%= validationErrors[i].msg %></li>
					<% } %>
				</ul>
			<% } %>
		</div>
		<form action="/produtos" method="post">
			<div>
				<label for="titulo">Titulo</label>
				<input type="text" name="titulo" id="titulo" placeholder="Informe o titulo" value="<%= produto.titulo %>" />
			</div>
			<div>
				<label for="descricao">Descricao</label>
				<textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="Fale sobre o produto"><%= produto.descricao %></textarea>
			</div>
			<div>
				<label for="preco">Preco</label>
				<input type="text" name="preco" placeholder="Informe o preço" value="<%= produto.preco %>" />
			</div>

			<input type="submit" value="gravar" />
		</form>
	</body>
</html>